@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Intelliwheel</h1>
    <p class="lead">Welcome to Intelliwheel, world's first amphibian garage!</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">To garage &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Innovation</h2>
        <p>
            We are glad to be able to say that Intelliwheel is the first amphibian garage in the world, combining two different states (land & water),
            with a prowess unlike the one normally associated with alchemists, had they actually ever been successful.
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Sensation</h2>
        <p>Let yourself and your accompanying passengers get swayed with the rhythm of Nordic sea!</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Floatation</h2>
        <p>Our garage contains a safe floating environment to accomodate even the most unstable yachtsmen!</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>
